body {
  background-color: #dda6b5;
  background-image: url("sakura copy.png"), linear-gradient(45deg, #fffb99, #ffb7c3);
  ;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: #f282a6;
  font-family: monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.span-col-3 {
  grid-column: span 3 / auto;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

.box1 {
  width: 500px;
  height: 150px;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50px;
  font-size: 50px;
  color: #ffc1d5;
}

.paragraph {
  color: #823649;
  font-size: 20px;
  text-indent: 30px
}

footer {
  background: #fc97af;
  font-size: 15px; color: #7c2574
}

nav {
  background: #fc97af;
  color: #7c2574;
  font-size: 20px
}
